@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

.titleIGDB {
    background-image: linear-gradient(180deg, rgba(217, 65, 255, 0.46) 0%, rgba(212, 161, 255, 0.46) 53.13%, rgba(118, 230, 255, 0.46) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Oswald, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    left: 0;
}

.explore {
    color: white;
    font-family: Oswald, sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    left: 0;
}

.thumbnail {
    width: 20%;
    margin: 10px;
    transition: ease-in-out 0.2s;
}

.thumbnail:hover {
    cursor: pointer;
    filter: brightness(1.4);
    transform: translateY(-5px);
}

.thumbnailContainer{
    display: flex;
    flex-direction: row;
    margin-top: 64px;
    margin-left: 15%;
    justify-content: center;
}

.learnButton {
    color: white;
    transition: ease-in-out 0.2s;
    border: white 1px solid;
    border-radius: 10px;
    padding: 10px;
}

.learnButton:hover {
    cursor: pointer;
    color: rgba(198, 111, 218, 0.35);
    border: rgba(198, 111, 218, 0.35) 1px solid;
}

@media (max-width: 768px) {
    .thumbnail {
        width: 65%;
    }

    .thumbnailContainer {
        flex-direction: column;
        margin-left: 25%;
        margin-top: 1px;
    }

    .mainTitle {
        padding-top: 80%;
    }
}
