/* review.module.css */

.container {
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: center;
    color: white;
  }

  .description {
    max-height: 250px; /* Adjust this value based on your desired visual appearance */
    overflow-y: auto;
  }

  .reviewPageContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.contentAboveInput {
  flex: 1;
  overflow: auto;  
}

  .coverImage {
    border-radius: 10px;
    min-height: 150px;
    max-height: 150px;
    min-width: 220px;
    max-width: 220px;
    border: 2px solid white;
    border-radius: 10px
  }

  .reviewContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }
  .dateText {
    color: gray;
    float: left; 
    clear: both; 
    align-self: flex-start;
}

  .textAreaDiv {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .textArea {
    flex: 1;
    margin-top: 10px;
    min-height: 30px;
    max-height: 30px;
    padding: 3px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }


.userReviewsContainer {
    max-height: 500px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    border-radius: 0.5rem;
  }

  .singleReview {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.75);
    width: 400px;
    transition: ease-in-out 0.3s;
  }

  .singleReview:hover {
    background-color: rgb(255, 255, 255);
  }

.singleReview:nth-child(even) {
  margin-left: auto; /* push even-indexed reviews to the right */
  margin-right: 30px; /* reset margin-right for even-indexed reviews */
}

.singleReview:nth-child(odd) {
  margin-left: 30px; /* reset margin-left for odd-indexed reviews */
  margin-right: auto; /* push odd-indexed reviews to the left */
}

  .profileInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .profileImage {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

  .ratingInfo {
    display: flex;
    align-items: center;
  }

  .dateText {
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
  }

  /* small screens*/
    @media (max-width: 768px) {
        .detailDiv {
        margin-right: 0;
          margin-left: 20px;
        margin-bottom: 20px;
        }

        .coverImage {
        margin-bottom: 20px;
        }

      .container {
        padding-top: 60px !important;
        padding-bottom: 5px !important;
      }

      .singleReview:nth-child(even) {
        margin-left: auto; /* push even-indexed reviews to the right */
        margin-right: 30px !important; /* reset margin-right for even-indexed reviews */
        max-width: 300px;
      }

      .singleReview:nth-child(odd) {
        margin-left: 30px !important; /* reset margin-left for odd-indexed reviews */
        margin-right: auto; /* push odd-indexed reviews to the left */
        max-width: 300px;
      }
      .userReviewsContainer {
        max-height: 350px;
      }
    }
/* wide screens */
@media (min-width: 1200px) {
  .singleReview:nth-child(even) {
    margin-left: auto; /* push even-indexed reviews to the right */
    margin-right: 800px !important; /* reset margin-right for even-indexed reviews */
    max-width: 400px;
  }

  .singleReview:nth-child(odd) {
    margin-left: 800px !important; /* reset margin-left for odd-indexed reviews */
    margin-right: auto; /* push odd-indexed reviews to the left */
    max-width: 400px;
  }

  .textAreaDiv {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container {
    margin-left: 400px;
    margin-right: 400px;
  }
}
